<%= form_for([@location, @location.devices.build]) do |f| %>
  <form>
    <div class="form-group">
        <label for="name">Device Name:</label>
        <%= f.text_field :name %>
        <label for="software">Software:</label>
        <%= collection_select( :device, :software_id, Software.all, :id, :name, {}, { :multiple => false } ) %>
        <%= f.submit 'Save', :class => 'btn btn-default btn-xs right'%>
    </div>
  </form>
<% end %>
